* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
ul {
  list-style: none;
  padding: 0px;
  box-sizing: content-box;
  color: rgb(39, 39, 39);
}
header > div {
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(27, 27, 190, 1) 0%, rgba(0, 212, 255, 1) 100%);
  margin: 0px;
}
.header-title > h1 {
  padding-left: 20px;
  margin: 5px;
}
.header-title > h1 > a {
  color: rgb(211, 211, 211);
  font-size: 48px;
}
.header-nav {
  display: flex;
  justify-content: center;
  width: 700px;
}
.header-nav ul li a {
  color: black;
  font-size: 20px;
  font-weight: bold;
}
.box {
  border: 1px solid black;
  width: 350px;
}
.header-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
